@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-blue: rgb(72, 169, 166);
    --primary-blue-light:  rgb(72, 169, 166, 0.4);
    --primary-blue-dark: rgb(27, 42, 65);
    --secondary-pink: rgb(193, 102, 107);
    --grey: rgb(225, 225, 225);
  }
}

:root {
  --primary-blue: rgb(72, 169, 166);
  --primary-blue-light:  rgb(72, 169, 166, 0.4);
  --primary-blue-dark: rgb(27, 42, 65);
  --secondary-pink: rgb(193, 102, 107);
  --grey: rgb(225, 225, 225);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
